nav {
   /* width: 100%; */
  /* position: fixed; */
  padding: 26px 0;
  background: #6b3cc9;
  /* z-index: 100; */
  /* border:2px solid red; */
}

.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border:2px solid red; */
}

ul {
  display: flex;
  list-style: none;
  gap: 28px;
}

ul li a{
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
ul li a:last-child{
margin-right: 28px;
}


@media(max-width:768px){
  nav{
    padding: 26px 40px;
  }
}

@media(max-width:375px){

  ul {
    display: none;
  }
}